{% extends "navigation.html" %}
{% load custom_filter %}
{% load staticfiles %}

{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li class="active"><a href="{% url 'show_all_questions' %}">Contribution</a></li>
<li><a href="https://yaksh-contribution.readthedocs.io" target="_blank">Instructions</a></li>
<li><a href="{% url 'logout_page' %}">Logout</a></li>
 {% endblock %}

 {% block content %}
<link rel="stylesheet" href="{% static 'css/codemirror/lib/codemirror.css' %}" type="text/css" />
<style type="text/css">
  .CodeMirror{
    border-style: groove;
  }
</style>
<form id="code" action="{% url 'check_question' question.id %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <u>{{ question.summary }}</u>
            <font class=pull-right>Points : {{ question.points }}</font>
        </h4>
    </div>
    
    <div class="panel panel-body">
        <div class="well well-sm">
            <font size=3 face=arial> {{ question.description|safe }} </font>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-9">
<h4>Write your program below:</h4>
</div>
</div>
<textarea autofocus name="answer" id="answer"></textarea>
<script  type="text/javascript" src= "{% static 'js/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'js/codemirror/mode/python/python.js' %}"></script>
<script type="text/javascript">
    var global_editor = {};
    var textarea_node = document.querySelector('#answer');
    var options = {
      mode: "python",
      gutter: true,
      lineNumbers: true,
      onChange: function (instance, changes) {
          render();
      }
  };
  
  // Initialize the codemirror editor
  global_editor.editor = CodeMirror.fromTextArea(textarea_node, options);
  // Setting code editors initial content
</script>
<br>
<button class="btn btn-primary" type="submit" name="check" id="check" >Check Answer <span class="glyphicon glyphicon-cog"></span></button>&nbsp;&nbsp;
</form>
<br><br>
{% if result %}
<div class = "alert alert-danger">
<p>Hey, we checked your answer. We encountered the following error:</p>
</div>
{%for error in result %}
      {% if error.type == 'assertion' %}
        
        <p> <b>The following error took place: </b></p>
        <table class="table table-bordered" width="100%" id='assertion'>
        <col width="30%">
            <tr class = "active">
              <td><b>Exception Name: </b></td>
              <td><span style="color: #d9534f">{{error.exception}}</span></td>
          </tr>
          <tr>
            <td><b>Exception Message: </b></td><td>{{error.message}}</td>
          </tr>
          <tr>
            {% if error.traceback %}
            <td><b>Full Traceback: </b></td>
            <td><pre>{{error.traceback}}</pre></td>
            {% endif %}
          </tr>
        </table>

      {% elif error.type == 'stdio' %}
  {% if error.given_input %}
           <table class="table table-bordered">
            <col width="30%">
              <tr class = "active">
              <td> For given Input value(s):</td>
              <td>{{error.given_input}}</td>
              </tr>
           </table>
         {% endif %}

          <table class="table table-bordered" width="100%" id="stdio">
            <col width="10%">
            <col width="40%">
            <col width="40%">
            <col width="10%">
            <tr class="info">
            <th><center>Line No.</center></th>
            <th><center>Expected Output</center></th>
            <th><center>User output</center></th>
            <th><center>Status</center></th>
            </tr>
            {% for expected,user in error.expected_output|zip:error.user_output %}
            <td> {{forloop.counter}} </td>
            <td>{{expected|default:""}} </td>
            <td>{{user|default:""}}</td>
            {% if forloop.counter0 in error.error_line_numbers or not expected or not user %}
            <td><span class ="glyphicon glyphicon-remove text-warning"/></td>
            {% else %}
            <td><span class ="glyphicon glyphicon-ok text-success"/></td>
            {% endif %}
            </tr>
            {% endfor %}
            </table>
            <table width="100%" class='table table-bordered'>
            <col width="10">
            <tr class = "danger">
            <td><b>Error:</b></td>
             <td>{{error.error_msg}}</td>
             </tr>
            </table>
{% endif %}            
{% endfor %}
{% endif %}

{% endblock %}