
{% extends "navigation.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}

{% block navbar %}
 <li class="active"><a href="{% url 'home' %}">Home</a></li>
 <li><a href="{% url 'login' %}">Login</a></li>
   
      <li><a href="{% url 'register_page' %}">Signup</a></li>
  {% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
    <center>
    <div class= "alert alert-success">
    <li>{{ message|safe }}</li>
    </div>
    </center>
    {% endfor %}
{% endif %}
<center>
 <h3>Register here</h3>
    <form method="post" action="">{% csrf_token %}
        <table border="0">
            {{ form.as_table }}
        </table>
        </br>
        <input type="submit" class="btn btn-primary" value="Register" />
    </form></br>
    <a href="{% url 'login' %}">Login</a>
    </center>
{% endblock %}
