{% extends "navigation.html" %}
{% block navbar %}
<li class="active"><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'next_login' %}">Contribution</a></li>
<li><a href="{% url 'logout_page' %}">Logout</a></li>
 {% endblock %}
{% block content %}

	<form method="post" onsubmit="return validateForm();" onpageshow="addFields();">
	<h2>Add Multiple Choice Question</h2>
	<table id="ok">
	{{form.as_table}}
	</table>

	<script
			  src="https://code.jquery.com/jquery-1.7.min.js"
			  integrity="sha256-/05Jde9AMAT4/o5ZAI23rUf1SxDYTHLrkOco0eyRV84="
			  crossorigin="anonymous"></script>	
				<script type='text/javascript'>
				$(document).ready( function() {
					console.log("eef")
    				$('#id_no_of_inputs').on('change', addFields);
    				$('#id_title').on('focus', addFields);
				function addFields(){

				var ch = document.getElementById("id_no_of_inputs").value;

				var container = document.getElementById("choice_container");

				while (container.hasChildNodes()) {
				container.removeChild(container.lastChild);
				}
				for (i=1;i<=ch;i++){

				container.appendChild(document.createTextNode("Choice"+(i)));

				var input = document.createElement("input");
				input.type = "text";
				input.name = "choice" + i;
				input.id ="choice"+i;
				input.required;
				container.appendChild(input);
				var input = document.createElement("input");
				input.type = "checkbox";
				input.value="True";
				input.name = "correct" + i;
				input.id ="correct"+i;
				input.required;
				container.appendChild(input);

				container.appendChild(document.createElement("br"));
				}
				document.getElementById("choice_container").innerHTML=container.innerHTML;
				}

			});

				</script>
	<div id="choice_container" >
		
	</div><br /><br />
		{% csrf_token %}

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary" value="Submit" /></td></tr>

	</form>
	<script type="text/javascript">
		function validateForm(){
					title =  document.getElementById("id_title").value;
					if (title==""){
						alert("Enter question title");
						return false;
					}
					text = document.getElementById("id_text").value;
					if (text==""){
						alert("Enter question text");
						return false;
					}
					marks = document.getElementById("id_marks").value;
					if (marks<0){
						alert("Marks should be positive");
						return false;
					}
					no_of_inputs = document.getElementById("id_no_of_inputs").value;
					if (no_of_inputs<0){
						alert("No of inputs should be positive");
						return false;
					}
					count = 0;
					for(var i=1;i<=no_of_inputs;i++){
						choice_text=document.getElementById("choice"+i).value;
						if (choice_text==""){
							alert("Enter choice "+i);
							return false;
						}
						if (document.getElementById("correct"+i).checked)
							count++;
					}
					if (count==0){
						alert("Choose atleast one correct option");
						return false;
					}
					
		}
	</script>

  {% endblock %}



