{% extends "navigation.html" %}
{% load custom_filter %}
{% block script %}
<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"/>
{% endblock %}
{% block navbar %}
<li><a href="{% url 'home' %}">Home</a></li>
<li class="active"><a href="{% url 'show_all_questions' %}">Contribution</a></li>
<li><a href="https://yaksh-contribution.readthedocs.io" target="_blank">Instructions</a></li>
<li><a href="{% url 'logout_page' %}">Logout</a></li>
 {% endblock %}
 {% block content %}
 {{question}}
 {% endblock %}