<html>
<body>
<h3>Question: {{ question.title|safe }}</h3>
Creator: {{ question.user }}<br />
<ul>
	{% for each in question_choices %}
		<li>
		{{ each.Question.text }}
		<ul>
		{% for each_choice in each.Choices %}
			<li> 
			
			{% if each_choice.correct %}
			<b><u>
			{% endif %}

			{{ each_choice.text }} 

			</u></b>
			</li>
		{% endfor %}
		</ul>
		</li>

	{% endfor %}

	</ul>
<ul>
	{% for each in question_testcases %}
		<li>
		{{ each.Question.text }}
		<ul>
		
		{% for testcase in each.Testcases %}
		<b>Testcase</b>
		<ul>
		Input:
		{% for input in testcase.input %}
				<li>{{input.value}}</li>
		{% endfor %}
		</ul>

		<ul>
		Output:
		{% for output in testcase.output %}
			<li>{{ output.value }}</li>
		{% endfor %}
		</ul>

		{% endfor %}
		
		
		</ul>
		</li>

	{% endfor %}

	</ul>
<h3>Ratings</h3>
<ul>
	{% for each in question_ratings %}
		
		
		{% for each_rating in each.Ratings %}
			<li> 
			
			{{ each_rating.get_rate_display }} by {{ each_rating.user }}
			

			
			</li>
		{% endfor %}
		

	{% endfor %}

	</ul>
<h3>Reviews</h3>
<ul>
	{% for each in question_reviews %}
		
		
		{% for each_review in each.Reviews %}
			<li> 
			
			{{ each_review.comments}} by {{ each_review.reviewer }}
			

			
			</li>
		{% endfor %}
		

	{% endfor %}

	</ul>

<p>
{% ifequal question.status 1 %}
Status: <b>Approved</b> <button onclick="window.location='approve/';" >Disapprove </button><br/><br />
{% else %}
Status: <button onclick="window.location='approve/';" >Approve </button><br/>
{% endifequal %}
<br />
<form action="postcomment/" method="post">
<input type="hidden" name="type" value="moderator" />
Comments:
<textarea name="content" cols=30 rows=2></textarea><br/>
<input type="submit" value="Post" action="moderator.html"/>
{% csrf_token %}

</form>
</p>
</body>
</html>
